/*  Calculator project    Vernon Louie         December 2016 thru April 2017  */

body {
    font-family:    Verdana, Arial;
    background:     linear-gradient(black, gray);
}

/* found these fonts on http://www.fontspace.com/category/calculator */
@font-face {
    font-family:    "digital-7";
    src:            url("digital-7.ttf");
}

@font-face {
    font-family:    "dig7_mono_italic";
    src:            url("digital-7_mono_italic.ttf");
}

h3 {
    display:    inline-block;
    font-size:  3em;
    margin:     1px 0 1px 0;
}

.container1 {
    height:             75vh;
    width:              80vw;
    background-color:   gray;
    margin:             auto;
    margin-top:         10px;
    border:             dimgrey 0.4em solid;
}

.display {
    height:             24%;
    width:              90%;
    font-family:        dig7_mono_italic, Verdana, Arial;
    background-color:   lightgrey;
    margin:             auto;
    margin-bottom:      0.5em;
    margin-top:         0.5em;
    padding-top:        1em;
    text-align:         left;
    border-radius:      1em;
    border:             0.4em darkgray solid;
    position:           relative;
    top:                0.2em;
    overflow:           auto;
}

.all_buttons {
    display:    flex;
    flex-wrap:  wrap;
    height:     96%;
    margin:     1em;
}

.all_buttons button {
    flex:       1 1 25%;
    height:     20%;
    font-size:  2.5em;
}

button:hover {
    background-color:   white;
}

.button_area {
    height: 75%;
}

.special {
    color:  red;
}

.operator {
    color:  blue;
}

.equal {
    color:  green;
}

.lightgray {
    color:  lightgray;
}

.clarifications p, a {
    font-size:  1.6em;
    margin:     0.2em 0;
}

hr {
    margin:             0.2em auto;
    background-color:   darkgray;
    width:              80%;
    height:             0.1em;
}

/******************** Responsiveness ***********************/

/* For mobile landscape */
@media only screen and (orientation: landscape) {
    h3 {
        font-size:  1.6em;
        margin:     0;
    }

    .clarifications p, a {
        font-size:  1.1em;
        margin:     0;
    }

    .all_buttons button {
        font-size:  1.5em;
    }

    .button_area {
        height: 70%;
    }
}

/* For non-mobile (to prevent non-mobile from using mobile landscape) */
@media only screen and (min-width: 870px) {
    h3 {
        font-size: 2.5em;
    }

    .clarifications p, a {
        font-size:  1.6em;
    }

    .all_buttons button {
        font-size:  2.5em;
    }

    .button_area {
        height: 75%;
    }
}

/* For mobile portrait */
@media only screen and (max-width: 479px) {
    h3 {
        font-size: 2em;
    }

    .clarifications p, a {
        font-size:  1.1em;
    }

    .all_buttons button {
        font-size:  2em;
    }

    .button_area {
        height: 73%;
    }
}

/************** End of current CSS *******************/

/* may incorporate tool tips later */
.tiptext {
    visibility:         hidden;
    background-color:   black;
    color:              white;
    text-align:         center;
    border-radius:      1em;
    position:           absolute;
    z-index:            1;
}

.tooltip:hover .tiptext{
    visibility: visible;
}

/***** Old styling before flex *****/
    /*.button_area {*/
        /*height:             79%;*/
        /*width:              90%;*/
        /*margin:             auto;*/
        /*vertical-align:     middle;*/
    /*}*/

    /*.button {*/
        /*height:             99%;*/
    /*}*/

    /*.button_row {*/
        /*height:             20%;*/
        /*margin:             0.1em;*/
    /*}*/

    /*.special {*/
        /*height:             98%;*/
        /*width:              98%;*/
        /*background-color:   blue;*/
        /*display:            inline-block;*/
        /*text-align:         center;*/
        /*color:              white;*/
        /*border-radius:      2em;*/
        /*border:             lightyellow 0.2em solid;*/
    /*}*/

    /*.number, .equal {*/
        /*height:             98%;*/
        /*width:              98%;*/
        /*background-color:   lightyellow;*/
        /*display:            inline-block;*/
        /*text-align:         center;*/
        /*border-radius:      2em;*/
        /*border:             gold 0.2em solid;*/
    /*}*/

    /*.operator {*/
        /*position:       relative;*/
        /*height:             98%;*/
        /*width:              98%;*/
        /*background-color:   red;*/
        /*display:            inline-block;*/
        /*text-align:         center;*/
        /*color:              white;*/
        /*border-radius:      2em;*/
        /*border:             black 0.2em solid;*/
    /*}*/

    /*h1, h2, h3 {*/
        /*position:   absolute;*/
        /*-ms-transform:  translate(1em, 2em);*/
        /*-webkit-transform:  translate(1em, 2em);*/
        /*transform:      translate(1em, 2em);*/
    /*}*/

